SHP_PATH=data/BaseSiteCAD/130_BuildingFootprintsVectorData/BuildingTracesCurrent/Buildings_Mask.shp
DXF_PATH=data/Site_CAD_Working_converted.dxf
EXCEL_PATH=data/2026 El Bagawat Database Draft 1.xlsx
DEM_PATH=data/BaseSiteCAD/150_DigitalElevationModel/Generated_DEMs/Current_DEM/Bagawat-DEM-NewImageryOnly-0.4m-DEM.tif
SPECTRAL_DATA_DIR=data/spectral
SPECTRAL_OUT_DIR=outputs/spectral
